body {
    margin: 0;
}

main {
    background-color: lightblue;
    padding: 24px;
}

header {
    height: 80px;
}

.navigation {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
}

.card {
    background-color: white;
    padding: 16px;
    margin: 24px;
    border-radius: 16px;
    height: 400px;
    width: 300px;
}

.card:nth-child(3) {
    position: relative;
    left: 400px;
}

.card:nth-child(4) {
    position: relative;
    left: 780px;
}

.card h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

img {
    width: 200px;
}

